<div class="row">
  <div class="col">
    <div class="mb-3">
       <input type="text"
       class="form-control"
       placeholder="search"
        [(ngModel)]="filter">
    </div>
  </div>
  <div class="col">
  {{filter}}
</div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div *ngFor="let pro of products">
  <div class="card"  >
    <div class="d-flex justify-content-center" >
       <!--<img [src]="pro.image"
       class="card-img-top"
       [alt]="pro.name"
       [style.width.px]="200"''
       [style.height.px]="200">-->
       <img [src]="pro.image"
       class="card-img-top"
       [alt]="pro.name"
       [ngStyle]="imgStyle">
      </div>
        <div class="card-body">
          <h5 class="card-title">{{pro.id}}</h5>
          <h5 class="card-title">{{pro.name | uppercase}}</h5>
          <h5 class="card-title">{{pro.price | currency : 'INR' : 'symbol':'1.2-2'}}</h5>
          <h5 class="card-title">{{pro.date | date :'dd-MMMM-yyyy'}}</h5>
          <h5 class="card-title">{{pro.code | convert:"/"}}</h5>
          <h5 class="card-title">
            <app-star [rating]="pro.rating" (ratingClick)="onRatingClicked()"></app-star>
          </h5>
          <p class="card-text" [title]="pro.description">{{pro.description | slice : 0:45}}</p>
          <a href="#" class="btn btn-primary" (click)="addtocart(pro)">Add to Cart</a>

      </div>
    </div>
  </div>
  </div>




